@import url(https://fonts.googleapis.com/css?family=Roboto);
@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

.sidebar-wrapper {
  background-color: #032a3d;
}
.sidebar-wrapper .menu {
  margin-top: 0;
}
.sidebar-wrapper .menu .sidebar-title {
  color: #f4f4f4;
}
.sidebar-wrapper .menu .sidebar-link {
  color: #f4f4f4;
}
.sidebar-wrapper .menu .sidebar-link:hover {
  color: #232323;
}
.sidebar-wrapper .menu .sidebar-item a {
  color: #f4f4f4;
}
.sidebar-wrapper .menu .sidebar-item:hover {
  color: #232323;
}
.sidebar-wrapper .menu .submenu .submenu-item a {
  color: #f4f4f4;
}
.sidebar-wrapper .menu .submenu .submenu-item a:hover {
  color: #232323;
}
.sidebar-wrapper .sidebar-header {
  padding: 2rem 2rem 0 2rem;
}
.sidebar-wrapper .sidebar-header .card,
.sidebar-wrapper .sidebar-header h5,
.sidebar-wrapper .sidebar-header h6 {
  background-color: #032a3d;
  color: #f4f4f4;
  font-size: 1rem;
}
.sidebar-wrapper .sidebar-header .card {
  padding: 10px;
}

.page-title h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

#main .section {
  margin-top: 1rem;
}

.boton {
  font-size: 15px;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1a346b;
  border-radius: 5px;
  border: none;
}
.boton:hover {
  background-color: #032a3d;
  color: #ffffff;
}

.boton-enviar {
  font-size: 15px;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #1a346b;
  border-radius: 5px;
  border: none;
}
.boton-enviar:hover {
  background-color: #032a3d;
  color: #ffffff;
}

.boton-ver {
  font-size: 15px;
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #1a346b;
  border-radius: 5px;
  border: none;
}
.boton-ver:hover {
  background-color: #032a3d;
  color: #ffffff;
}

.boton-entregar-archivos {
  font-size: 15px;
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #1a346b;
  border-radius: 5px;
  border: none;
}
.boton-entregar-archivos:hover {
  background-color: #032a3d;
  color: #ffffff;
}

.card-photo {
  position: relative;
  overflow: hidden;
}
.card-photo:hover .change-icon {
  top: 0px;
  transform: all 0.2s ease-in-out;
  cursor: pointer;
}

.change-icon {
  display: flex;
  top: 60px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(165, 157, 157, 0.1);
}

.width-icon {
  width: 40px;
  height: 40px;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos > li {
  list-style: none;
  display: inline-block;
  margin: 0 50px 0 50px;
}

.btnCreate {
  width: 100%;
  height: 50px;
  background-color: #032a3d;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
}

.btnCreate:hover {
  background-color: #006ead;
}

.aboutLogo {
  width: 200px;
  display: flex;
  margin: auto;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .contenedor-logo {
    display: none;
  }
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  .contenedor-logo {
    display: none;
  }
}
.content {
  background-color: #dcdcdc;
}

.promonews {
  margin: 10px 5% 0 5%;
}

.card-header {
  background-color: #fff;
}
